/* ======================================================
  common.
=======================================================*/
body {
  background: #ffbbbb;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: Times, "Times New Roman", "Hiragino Mincho Pro", "�q���M�m���� Pro W3", "MS P Mincho", "�l�r �o����", serif;
}
h2 {
  padding: 1px 10px 0 40px;
  line-height: 62px;
  background: transparent url(../image/parts/head-score.png) no-repeat;
}

button {
  outline: none !important;
}
.navbar-inverse {
  background: #333;
  border-bottom: 3px solid #222;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

button .glyphicon {
  margin-right: 8px;
}

:placeholder-shown {
  font-size: 85%;
  font-style: italic;
}

.modal-body {
  white-space: pre-wrap;
}
