<schema-policy-check-statement-form>
  <!-- ClientのSchemaPolicyCheckのStatement追加フォーム (migrated to Riot v7 at 2026/04/26)
   機能:
    o statementを新規追加する
    o sampleを見ながら作成できる

   作りの特徴:
    o selectboxを活用してdfpropを編集するよりも簡単にstatementをつくることができる
    o sampleを見ながら作成できるように、sampleをリンクのクリックで表示・非表示を切り替えている
   -->
  <form class="ui large form">
    <div class="field">
      <label>Preview</label>
      <div class="ui inverted segment">
        <p>{ buildPreview() }</p>
      </div>
    </div>
    <div class="ui divider"></div>

    <!-- Subject -->
    <div class="grouped fields required">
      <label>Subject</label>

      <p>
        <a if="{ props.mapType === 'tableMap' }" class="help link"
           href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#tablestatementifsubject" target="_blank">document</a>
        <a if="{ props.mapType === 'columnMap' }" class="help link"
           href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#columnstatementifsubject" target="_blank">document</a>
        /
        <a onclick="{ toggleSubjectHelp }">sample</a>
      </p>

      <div if="{ state.showSubjectHelp }" class="ui info message">
        <h5>Sample</h5>
        <div class="ui two column grid">
          <div class="column">
            <div class="ui inverted segment">
              <div><span class="variable">tableName</span> <span class="comment">// table name on DB</span></div>
              <div><span class="variable">columnName</span> <span class="comment">// column name on DB (only for column)</span></div>
              <div><span class="variable">alias</span> <span class="comment">// table/column alias name e.g. Japanese name</span></div>
            </div>
          </div>
          <div class="column">
            <div class="ui inverted segment">
              <div><span class="variable">dbType</span> <span class="comment">// column's DB type (only for column)</span></div>
              <div><span class="variable">firstDate</span> <span class="comment">// table/column registration date</span></div>
            </div>
          </div>
        </div>
        <a href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#example" target="_blank">more sample</a>
      </div>

      <div class="ui input field">
        <su-dropdown items="{ state.subjectDropdownItems }" value="{ state.subject }" onchange="{ onChangeSubject }"></su-dropdown>
      </div>
    </div>

    <!-- Condition -->
    <div class="grouped fields required">
      <label>Condition</label>

      <p>
        <a if="{ props.mapType === 'tableMap' }" class="help link"
           href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#tablestatementnot" target="_blank">document</a>
        <a if="{ props.mapType === 'columnMap' }" class="help link"
           href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#columnstatementcolumnis" target="_blank">document</a>
        /
        <a onclick="{ toggleConditionHelp }">sample</a>
      </p>

      <div if="{ state.showConditionHelp }" class="ui info message">
        <h5>Sample</h5>
        <div class="ui two column grid">
          <div class="column">
            <div class="ui inverted segment">
              <div><span class="variable">$$ALL$$</span> <span class="comment">// all tables/columns are target</span></div>
              <div><span class="variable">prefix:MST_</span> <span class="comment">// that starts with "MST_" are target</span></div>
              <div><span class="variable">suffix:_DAT</span> <span class="comment">// that ends with "_DATE" are target</span></div>
            </div>
          </div>
          <div class="column">
            <div class="ui inverted segment">
              <div><span class="variable">not ABC_DATE</span> <span class="comment">// "ABC_DATE" are NOT target</span></div>
              <div><span class="variable">after:2018/05/03</span> <span class="comment">// only for "firstDate" subject</span></div>
            </div>
          </div>
        </div>
        <a href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#example" target="_blank">more sample</a>
      </div>

      <div class="ui icon input field" each="{ (condition, index) in state.conditions }">
        <input type="text" name="condition" value="{ condition }" onchange="{ (e) => onChangeCondition(index, e) }">
        <i if="{ state.conditions.length > 1 }" class="delete link icon" onclick="{ () => onclickDeleteCondition(index) }"></i>
      </div>

      <div class="ui grid">
        <div class="four wide right floated column">
          <i class="plus link icon" style="float: right" onclick="{ onclickAddCondition }"></i>
          <div if="{ state.conditions.length > 1 }" class="inline fields" style="float: right">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="condition-mode" checked="{ state.conditionMode === 'and' }" onchange="{ () => onChangeConditionMode('and') }">
                <label>and</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="condition-mode" checked="{ state.conditionMode === 'or' }" onchange="{ () => onChangeConditionMode('or') }">
                <label>or</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Expected -->
    <div class="grouped fields required">
      <schema-policy-check-statement-form-expected
        form-type="{ props.mapType }"
        fields="{ state.expectedFields }"
        condition="{ state.expectedCondition }"
        on-field-add="{ onAddExpectedField }"
        on-field-change="{ onChangeExpectedField }"
        on-field-delete="{ onDeleteExpectedField }"
        on-condition-change="{ onChangeExpectedCondition }"
      ></schema-policy-check-statement-form-expected>
    </div>

    <!-- Supplementary Comment -->
    <div class="grouped fields required">
      <div class="field required">
        <label>Supplementary Comment</label>
        <p>
          <a class="help link" href="http://dbflute.seasar.org/ja/manual/reference/dfprop/schemapolicy/index.html#tablestatementsupplement" target="_blank">document</a>
        </p>
        <div class="ui input">
          <input type="text" name="comment" value="{ state.comment }" onchange="{ onChangeComment }">
        </div>
      </div>
    </div>

    <button class="ui primary button" type="button" onclick="{ onclickRegister }">Add</button>
  </form>

  <style>
    .variable {
      font-style: italic;
      font-weight: bold;
    }
    .comment {
      color: darkgray;
    }
  </style>

  <script>
    import schemaPolicyCheckStatementForm from './schema-policy-check-statement-form.ts'
    export default schemaPolicyCheckStatementForm
  </script>
</schema-policy-check-statement-form>
