# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
# using IDE settings to keep existing files (to avoid big differences)
#end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
indent_size = 4
continuation_indent_size = 8

[*.md]
trim_trailing_whitespace = false
