<st-database-info>
  <!-- ClientのDB接続設定画面 (written at 2022/02/10)
     機能:
      o DBFluteクライアントのDB接続情報を確認できる
      o 〃を編集できる
      (databaseInfoMap.dfprop)

     作りの特徴:
      o Introで意外と少ないテキスト入力による更新、バリデーションとか普通のことが珍しい
      o Toast使って「ぴょこん」ってかわいく更新したことをお知らせする
     -->
  <div class="ui container">
    <div if="{ state.prepared }" class="ui form">
      <div class="row">
        <div class="column">
          <div class="ui segment" title="Database info">
            <!-- 必須かどうかは、databaseInfoMap.dfpropの仕様に合わせている
                 https://dbflute.seasar.org/ja/manual/reference/dfprop/databaseinfo/index.html

                 catalogが必要になる場面はめったにないので、Introではひとまずサポートしていない。 -->
            <div class="required field">
              <label>URL</label>
              <input
                type="text"
                value="{ state.form.url }"
                placeholder="jdbc:mysql://localhost:3306/maihamadb"
                onchange="{ onChangeUrl }">
            </div>
            <div class="field">
              <label>Schema</label>
              <input
                type="text"
                value="{ state.form.schema }"
                placeholder="MAIHAMADB"
                onchange="{ onChangeSchema }">
            </div>
            <div class="required field">
              <label>User</label>
              <input
                type="text"
                value="{ state.form.user }"
                placeholder="maihamadb"
                onchange="{ onChangeUser }">
            </div>
            <div class="field">
              <label>Password</label>
              <input
                type="text"
                value="{ state.form.password }"
                onchange="{ onChangePassword }">
            </div>
            <div class="field">
              <button class="ui button primary" onclick="{ editClient }">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    import stDatabaseInfo from './st-database-info.ts'
    export default stDatabaseInfo
  </script>
</st-database-info>
