##
## Copyright 2017-2021 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($rule = $scriptEngine.get('remoteApiRule'))
#set ($typeMap = {})
#set ($put = $typeMap.putAll($scriptEngine.invokeMethod($rule, 'typeMap')))
#set ($definitionMap = {})
#set ($definitionMap = $data.definitionMap)
${manager.allClassCopyright}
## #for_now jflute added も importList も不要のはずだが、analyze処理をまんま使うために残している (2023/01/09)
## (頑張れば削除もできると思うが、そこまでやってない)
#set ($importList = [])
#set($added = $importList.add('org.lastaflute.core.util.Lato'))
#if (!$data.properties.isEmpty() && $data.in == 'xml')
#set($added = $importList.add('javax.xml.bind.annotation.XmlElement'))
#end
#foreach($propertyEntry in $data.properties.entrySet())
#set ($property = $propertyEntry.value)
#if (${property.required})
#if ($property.type == 'array')
#set($added = $importList.add('javax.validation.constraints.NotNull'))
#else
#set($added = $importList.add('org.lastaflute.web.validation.Required'))
#end
#end
##
## analyzeでネストtypeのプロパティのrequiredのセットアップをしている。
## なので、import文自体は生成しないが、analyze処理だけは呼び出している。
##
#set ($tempDefinitionMap = {})
#set ($put = $tempDefinitionMap.putAll($definitionMap))
#analyzeImports($importList, $tempDefinitionMap, $property)
#end
## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## 元々JavaのテンプレートをTypeScript用に修正している。
## TypeScriptのtype定義がネストできないので、フラット定義にするために呼び出し階層を修正している。
## こんな感じの呼び出し階層↓
##
## property loop:
##   generateProperty()
##   manageFlatDefNestType()
##    |-generateNestType()
##       |-generateProperty()
##       |-manageFlatDefNestType()
##
## _/_/_/_/_/_/_/_/_/_/
/**
 * The bean class as ${data.beanPurposeType} for remote API of ${data.remoteApiExp}.
 * @author FreeGen
 */
type ${data.className}#if ($data.extendsClass && $data.extendsClass != '') extends $data.extendsClass#end#if ($data.implementsClasses && $data.implementsClasses != '') implements $data.implementsClasses#end = {
##
## #for_now jflute ネストオブジェクトにフラットユニーク名を付けるためのprefix, ざっくりルートのクラス名だけ (2023/01/09)
## 厳密なユニークにするなら、ネストの分prefixをチェーンさせていかないといけないが、ほとんどのケースで大丈夫なので妥協
## (Global変数として扱う)
##
#set ($propertyTypePrefix = "${data.className}")
##
## すべてのプロパティで利用されるネストtypeの定義名(実質FQCN)のリスト
## (Global変数として扱う)
##
#set($nestTypeFullNameList = [])
##
## プロパティのループでーす
##
#foreach($propertyEntry in $data.properties.entrySet())

## ^^^ プロパティ定義間で空行を空けている
##
## ひとつのプロパティの中で積み重なるネストオブジェクトのリスト
## (Global変数として扱う)
##
#set($nestList = [])
#generateProperty($data.className, $propertyEntry)
#set($nestList = [])
#end
## ^^^ プロパティのループ終わり
#set($nestTypeFullNameList = [])
}

## ^^^ 一行空けてルートtypeとネストtype定義間で空行を空けている
##
## ネストtypeをフラットに出力するために、generateProperty()から切り出してきた。
## ネストpropertyの出力するgenerateNestType()側でも似たようなことをやっている。
##
#set($nestTypeFullNameList = [])
#foreach($propertyEntry in $data.properties.entrySet())
#set($nestList = [])
#manageFlatDefNestType($data.className, $propertyEntry)
#set($nestList = [])
#end
#set($nestTypeFullNameList = [])



## =======================================================================================
##                                                                        analyzeImports()
##                                                                        ================
## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## analyze imports.
## @param class class (NotNull)
## @param propertyEntry propertyEntry (NotNull)
## _/_/_/_/_/_/_/_/_/_/
#macro(analyzeImports, $importList, $definitionMap, $property)
#set ($nestType = '')
#if ($property.items && $property.items['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.items['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property.items && $property.items.allOf[0]['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.items.allOf[0]['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property.allOf[0]['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.allOf[0]['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#end
#if ($nestType && $nestType != '')
#foreach($nestPropertyEntry in $definitionMap[$nestType].properties.entrySet())
## ここでネストtypeのプロパティのrequiredをセットアップしている。
## import文自体は使わなくても、この処理自体が必要なので analyzeImports() が必要。
#set ($nestPropertyEntry.value.required = $definitionMap[$nestType].required.contains($nestPropertyEntry.key))
#set ($nestProperty = $nestPropertyEntry.value)
#if (${nestProperty.required})
#if ($nestProperty.type == 'array')
#set($added = $importList.add('javax.validation.constraints.NotNull'))
#else
#set($added = $importList.add('org.lastaflute.web.validation.Required'))
#end
#end
#end
#if ($definitionMap.containsKey($nestType))
#set ($definition = $definitionMap[$nestType])
#set ($remove = $definitionMap.remove($nestType))
#foreach($nestPropertyEntry in $definition.properties.entrySet())
#analyzeImports($importList, $definitionMap, $nestPropertyEntry.value)
#end
#end
#end
#set ($nestType = '')
#end



## =======================================================================================
##                                                                      generateProperty()
##                                                                      ==================
## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## そのプロパティの変数定義を生成する。
## @param declaringClassName The FQCN of the class declaring the property. (NotNull)
## @param propertyEntry The entry (having key and value) of the property. (NotNull)
## _/_/_/_/_/_/_/_/_/_/
#macro(generateProperty, $declaringClassName, $propertyEntry)
#set ($fieldName = ${scriptEngine.invokeMethod($rule, 'fieldName', $data.api, $data, $propertyEntry.key)})
#set ($property = $propertyEntry.value)
#set ($property.name = $fieldName)
#set ($fieldClass = '')
#set ($enumValueComment = '')
#set ($nestType = '')
#if ($property.enum)
#set ($enumValueComment = "(enumValue=$property.enum) ")
#elseif ($property.items.enum)
#set ($enumValueComment = "(enumValue=$property.items.enum) ")
#end
## アノテーションがないので、JSDocで項目の有無をすべて表現する。
## Requiredは、nullだけでなく空白もないので、そのまま(Lasta的な)Requiredと表現する。
#set ($requiredDocSuffix = "")
## TypeScriptは、変数名の後ろに ? を付けることでnull可になるので、NullAllowedなら付ける。
##  e.g. birthdate?: string
#set ($variableNullableSuffix = "")
#if (${property.required})
#if ($property.type == 'array')
#set ($requiredDocSuffix = "(NotNull)")
#else
#set ($requiredDocSuffix = "(Required)")
#end
#else
#set ($requiredDocSuffix = "(NullAllowed)")
#set ($variableNullableSuffix = "?")
#end
#set ($manualMappingDesc = $scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingDescription', $data.api, $declaringClassName, $property))
#if ($manualMappingDesc)
#generateIndent($nestList.size())/** ${manualMappingDesc} ${enumValueComment}${requiredDocSuffix} */
#elseif (${property.description})
#generateIndent($nestList.size())/** ${property.description} ${enumValueComment}${requiredDocSuffix} */
#else
#generateIndent($nestList.size())/** ${enumValueComment}${requiredDocSuffix} */
#end
## XMLはレアなので基本不要だが、いざあったときに気付けるようにコメントアノテーションだけ残しておく。
#if ($data.in == 'xml')
#generateIndent($nestList.size())// java hint: @XmlElement(name = "$propertyEntry.key")
#end
## ネストオブジェクトにフラットユニーク名を付けるための判定
## (ArrayのGenericは除く: 純粋のプロパティの型がオブジェクトのときだけtrue)
#set ($isPropertyTypeObjectType = false)
#if ($property.type == 'array')
#if ($scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property))
#set ($fieldClass = "${typeMap[$property.type]}<$scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property)>")
#elseif (${typeMap[$property.items.format]})
#set ($fieldClass = "${typeMap[$property.type]}<${typeMap[$property.items.format]}>")
#elseif (${typeMap[$property.items.type]})
#set ($fieldClass = "${typeMap[$property.type]}<${typeMap[$property.items.type]}>")
#elseif ($property.items['$ref'] || ($property.items && $property.items.allOf[0]['$ref']))
#if ($property.items['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.items['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property.items && $property.items.allOf[0]['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.items.allOf[0]['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#end
#adjustType($nestType)
#set ($fieldClass = "${typeMap[$property.type]}<${propertyTypePrefix}_${adjustedType}>")
#end
## vvv arrayのifのelseif
#elseif ($scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property))
#set ($fieldClass = $scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property))
#elseif (${typeMap[$property.format]})
#set ($fieldClass = ${typeMap[$property.format]})
#elseif (${typeMap[$property.type]})
#set ($fieldClass = ${typeMap[$property.type]})
#elseif ($property['$ref'] || $property.allOf[0]['$ref'])
#set ($isPropertyTypeObjectType = true)
#if ($property['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property.allOf[0]['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.allOf[0]['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#end
#adjustType($nestType)
#set ($fieldClass = $adjustedType)
#end
#if ($fieldClass == '')
#set ($fieldClass = ${typeMap['']})
#end
## ネストオブジェクトにフラットユニーク名を付けるための処理
## (Arrayじゃなく直オブジェクトの場合の解決: ArrayのGenericはまた別の箇所、arrayのif内にて解決)
#if ($isPropertyTypeObjectType)
#set ($fieldClass = "${propertyTypePrefix}_${fieldClass}")
#end
#generateIndent($nestList.size())$fieldName${variableNullableSuffix}: $fieldClass
#end



## =======================================================================================
##                                                                 manageFlatDefNestType()
##                                                                 =======================
## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## そのプロパティに紐づくネストtype定義をフラットに生成するための制御をする。(生成処理も呼ぶ)
## generateProperty()をコピーして、フラットにネストtypeを出力するための処理に変えている。
## @param declaringClassName The FQCN of the class declaring the property. (NotNull)
## @param propertyEntry The entry (having key and value) of the property. (NotNull)
## _/_/_/_/_/_/_/_/_/_/
#macro(manageFlatDefNestType, $declaringClassName, $propertyEntry)
#set ($fieldName = ${scriptEngine.invokeMethod($rule, 'fieldName', $data.api, $data, $propertyEntry.key)})
#set ($property = $propertyEntry.value)
#set ($property.name = $fieldName)
#set ($fieldClass = '')
#set ($nestType = '')
##
## この辺はgeneratePropertyの処理をそのまま持ってきて、nestTypeの調整を維持している(はず)
##
#if ($property.type == 'array')
#if ($scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property))
#set ($fieldClass = "${typeMap[$property.type]}<$scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property)>")
#elseif (${typeMap[$property.items.format]})
#set ($fieldClass = "${typeMap[$property.type]}<${typeMap[$property.items.format]}>")
#elseif (${typeMap[$property.items.type]})
#set ($fieldClass = "${typeMap[$property.type]}<${typeMap[$property.items.type]}>")
#elseif ($property.items['$ref'] || ($property.items && $property.items.allOf[0]['$ref']))
#if ($property.items['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.items['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property.items && $property.items.allOf[0]['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.items.allOf[0]['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#end
#adjustType($nestType)
#set ($fieldClass = "${typeMap[$property.type]}<$adjustedType>")
#end
## vvv arrayのifのelseif
#elseif ($scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property))
#set ($fieldClass = $scriptEngine.invokeMethod($rule, 'beanPropertyManualMappingClass', $data.api, $declaringClassName, $property))
#elseif (${typeMap[$property.format]})
#set ($fieldClass = ${typeMap[$property.format]})
#elseif (${typeMap[$property.type]})
#set ($fieldClass = ${typeMap[$property.type]})
#elseif ($property['$ref'] || $property.allOf[0]['$ref'])
#if ($property['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#elseif ($property.allOf[0]['$ref'])
#set ($nestType = $generator.getClass().forName('java.net.URLDecoder').decode($property.allOf[0]['$ref'].replace('#/definitions/', ''), 'UTF-8'))
#end
#adjustType($nestType)
#set ($fieldClass = $adjustedType)
#end
## ^^^ arrayのifのend
#if ($fieldClass == '')
#set ($fieldClass = ${typeMap['']})
#end
#generateNestType($nestType)
#end
## ^^^ macroのend


## =======================================================================================
##                                                                      generateNestType()
##                                                                      ==================
## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## そのネストtype定義をフラットに生成する。
## @param nestType プロパティで利用されているネストオブジェクトの型名(実質FQCN) (NotNull)
## _/_/_/_/_/_/_/_/_/_/
#macro(generateNestType, $nestType)
#if ($nestType && $nestType != '' && !$nestList.contains($nestType) && !($nestTypeFullNameList.contains($nestType) || $nestTypeFullNameList.contains("$nestType.join('_', $nestList)_$nestType")))
#adjustType($nestType)
## #for_now jflute フラット定義なのでインデントなしにしてよいのだが... (2023/01/08)
## generateProperty()の方のインデント処理と関連してて簡単ではなさそう。
#set ($currentNestIndentSize = $nestList.size())
#generateIndent($currentNestIndentSize)/**
#generateIndent($currentNestIndentSize) * The part class of ${adjustedType}.
#generateIndent($currentNestIndentSize) * @author FreeGen
#generateIndent($currentNestIndentSize) */
#generateIndent($currentNestIndentSize)type ${propertyTypePrefix}_${adjustedType} = {
#set($added = $nestList.add($nestType))
#set($added = $nestTypeFullNameList.add("$nestType.join('_', $nestList)"))
##
## ネストプロパティの生成
##
#set ($currentEntrySet = $definitionMap[$nestType].properties.entrySet())
#foreach($nestPropertyEntry in $currentEntrySet)

## ^^^ プロパティ定義間で空行を空けている
#generateProperty($adjustedType, $nestPropertyEntry)
#end
#set($i = $nestList.size() - 1)
#set($removed = $nestList.remove($i))
#generateIndent($currentNestIndentSize)}
## ^^^ 見づらいけど、これ括弧閉じね

## ^^^ 一行空けてネストtype定義間で空行を空けている
##
## ネストプロパティのネストtypeを生成
##
#foreach($nestPropertyEntry in $currentEntrySet)
#manageFlatDefNestType($adjustedType, $nestPropertyEntry)
#end
#end
#end



## =======================================================================================
##                                                                            adjustType()
##                                                                            ============
## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## Adjust java type of e.g. property. e.g. java.util.List to List
## macro呼び出し後に "adjustedType" という名前の変数を使えば戻り値を受け取れる。
## (単なるGlobal変数的な扱いでやり取りをしているだけ: Velocityの変数はスコープがないので)
## @param javaType The type of java type. (NotNull)
## @return adjustedType The filtered expression of the type. (NotNull)
## _/_/_/_/_/_/_/_/_/_/
#macro(adjustType, $javaType)
#set ($adjustedType = ${javaType})
#set ($index = ${adjustedType.lastIndexOf('.')})
#if ($index != -1)
#set ($index = $index + 1)
#set ($adjustedType = ${adjustedType.substring($index)})
#end
#set ($adjustedType = $adjustedType.replaceAll("^.*\$", ''))
#set ($adjustedType = $scriptEngine.invokeMethod($rule, 'nestClassName', $schema, $adjustedType))
## ^^^ この (Global変数的な) adjustedType 経由で調整されたType名を受け取る
#end
