<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <h2>DBFlute Client {{client.projectName}}</h2>
  <div class="col-sm-6">
    <p class="text-right">
      for {{client.databaseCode}}, {{client.languageCode}}, {{client.containerCode}}
    </p>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-9">
    </div>
    <h3>Documents</h3>
    <div class="col-sm-3">
      <input type="button" class="btn btn-primary" ng-click="task('doc')" value="Generate Documents (jdbc, doc)" />
    </div>
    <div class="col-sm-9">
      <p ng-show="client.hasSchemahtml"><strong><a href="" ng-click="openSchemaHTML(client)">Open the table layout, SchemaHTML</a></strong></p>
      <p ng-show="client.hasHistoryhtml"><strong><a href="" ng-click="openHistoryHTML(client)">Open the table history, HistoryHTML</a></strong></p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-9">
    </div>
    <h3>Schema Sync Check</h3>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <input type="button" class="btn btn-primary" ng-click="checkSync()" value="Check schema" />
        <input type="button" class="btn btn-primary" ng-click="editSyncSchema()" value="Edit schema" />
      </div>
      <p class="text-right">
        for {{syncSchemaSetting.url}}, {{syncSchemaSetting.schema}}, {{syncSchemaSetting.user}}
      </p>
    </div>
  </div>
</div>
<!-- progress modal -->
<script type="text/ng-template" id="progress.html">
  <div class="modal-header">
    Generating...
  </div>
  <div class="modal-body">
    <progressbar class="progress-striped active" animate="false" value="100">
    </progressbar>
  </div>
</script>
