<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
<h2>DBFlute {{client.projectName}} Client from {{client.databaseCode}}, {{client.languageCode}}, {{client.containerCode}}</h2>
  <div class="col-sm-12" ng-show="!editFlg">
    <input type="button" class="btn btn-primary" ng-click="task(client, 'doc')" value="Generate Documents" />
    <p ng-show="client.hasSchemahtml"><a href="" ng-click="openSchemaHTML(client)">Open table document</a>(SchemaHTML)</p>
    <p ng-show="client.hasHistoryhtml"><a href="" ng-click="openHistoryHTML(client)">Open table history</a>(HistoryHTML)</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      System Info
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in manifest">
      {{key}} = {{value}}
    </div>
  </div>
</div>
