<div class="modal-header">
  Document Settings
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">alias delimiter in DB comment</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="documentSettings.aliasDelimiterInDbComment" placeholder="e.g. :"/>
      </div>
    </div>
    <div class="form-group">
      <label for="upperCaseBasic" class="col-sm-6 control-label">
        is upper case basis?
      </label>
      <input id="upperCaseBasic" type="checkbox" class="col-sm-3 btn btn-primary" ng-model="documentSettings.upperCaseBasic"/>
    </div>
    <div class="form-group">
      <label for="dbCommentOnAliasBasis" class="col-sm-6 control-label">
        is DB comment on alias basis?
      </label>
      <input id="dbCommentOnAliasBasis" type="checkbox" class="col-sm-3 btn btn-primary" ng-model="documentSettings.dbCommentOnAliasBasis"/>
    </div>
    <div class="form-group">
      <div class="col-sm-6 control-label">
        <input type="button" class="btn btn-primary" value="OK" ng-click="doEditDocumentSettings()"/>
      </div>
    </div>
  </form>
</div>
