<div class="modal-header">
  Schema Sync Check
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">* URL</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="schema.url" placeholder="jdbc:mysql://localhost:3306/examplesyncdb"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">* Schema</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="schema.schemaName" placeholder="EXAMPLESYNCDB"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">* User</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="schema.user" placeholder="examplesyncdb"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">* Password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" ng-model="schema.password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 control-label">
        <input type="button" class="btn btn-primary" value="Create" ng-click="checkSchema()"/>
      </div>
      <label class="col-sm-8">
        <input type="checkbox" class="btn btn-primary" ng-model="schema.craftDiffPath" />Is Suppress Craft Diff
      </label>
    </div>
  </form>
</div>
