<client-router>
  <!-- クライアント画面がマウントされるところ -->
  <route path={ state.routes.executeDocuments.path }>
    <documents project-name={ props.projectName }></documents>
  </route>
  <route path={ state.routes.executeSchemaSyncCheck.path }>
    <schema-sync-check project-name={ props.projectName }></schema-sync-check>
  </route>
  <route path={ state.routes.executeReplaceSchema.path }>
    <replace-schema project-name={ props.projectName }></replace-schema>
  </route>
  <route path={ state.routes.executeAlterCheck.path }>
    <alter-check project-name={ props.projectName }></alter-check>
  </route>
  <route path={ state.routes.executeSchemaPolicyCheck.path }>
    <ex-schema-policy-check></ex-schema-policy-check>
  </route>
  <route path={ state.routes.settingsDatabaseInfo.path }>
    <st-database-info project-name={ props.projectName }></st-database-info>
  </route>
  <route path={ state.routes.filesLogs.path }>
    <logs project-name={ props.projectName }></logs>
  </route>

  <script>
    import { Route } from '@riotjs/route'
    import Documents from './documents/documents.riot'
    import SchemaSyncCheck from './schema-sync-check/schema-sync-check.riot'
    import ReplaceSchema from './replace-schema/replace-schema.riot'
    import AlterCheck from './alter-check/alter-check.riot'
    import ExSchemaPolicyCheck from './schema-policy-check/ex-schema-policy-check.riot'
    import DatabaseInfo from './database-infro/database-info.riot'
    import Logs from './logs/logs.riot'
    import { clientRoutes } from './client-router';

    export default {
      components: {
        Documents,
        SchemaSyncCheck,
        ReplaceSchema,
        AlterCheck,
        ExSchemaPolicyCheck,
        DatabaseInfo,
        Logs,
        Route
      },
      state: {
        routes: clientRoutes,
      }
    }
  </script>
</client-router>
