<result-modal>
  <su-modal modal="{ modal() }" show={ show() } onhide="{ onHide }" class="large">
    <div class="description">
      { props.message }
    </div>
  </su-modal>

  <script>
    import resultModal from './task-execute-modal'
    export default resultModal
  </script>
</result-modal>
