<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div>
        <h2>DBFlute Entry Client</h2>
      </div>
      <div class="col-md-12">
        <p>existing clients:</p>
        <div class="list-group">
          <a href="#" class="list-group-item" ng-repeat="client in clientList" ng-click="setCurrentProject(client)">{{client.projectName}}</a>
        </div>
      </div>
      <div>
        <h2>DBFlute Engine</h2>
        <button type="button" class="btn btn-primary" ng-click="downloadModal()">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>{{'LABEL_DOWNLOAD' | translate:translationData}}
        </button>
        <div class="col-md-12">
          <p>existing versions:</p>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="version in versions">
              {{version}}
              <input type="button" class="btn btn-primary pull-right" value="Delete" ng-click="removeEngine(version)" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <section class="Basic">
            <h1 class="heading">Basic</h1>
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_PROJECT' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg && client.create">{{client.projectName}}</span>
                  <input type="text" class="form-control" ng-model="client.projectName" ng-show="editFlg && client.create" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_TARGET_DATABASE' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.databaseCode}}</span>
                  <select class="form-control" ng-model="client.databaseCode" ng-options="code as def.databaseName for (code, def) in classificationMap.targetDatabaseMap" ng-change="changeDatabase(client)" ng-open="oRMapperOptionsFlg"></select>
                </div>
              </div>
              <!--TODO: details要素を使用可能なら書き換える by hakiba-->
              <div id="or-mapper-options">
                <button ng-click="openORMapperOptions()">O/R Mapper Options</button>
                <div class="form-group" ng-show="oRMapperOptionsFlg">
                  <label class="col-sm-4 control-label">{{'LABEL_TARGET_LANGUAGE' | translate:translationData}}</label>
                  <div class="col-sm-8">
                    <span ng-hide="editFlg">{{client.languageCode}}</span>
                    <select class="form-control" ng-model="client.languageCode" ng-options="code as name for (code, name) in classificationMap.targetLanguageMap" ng-show="oRMapperOptionsFlg"></select>
                  </div>
                </div>
                <div class="form-group" ng-show="oRMapperOptionsFlg">
                  <label class="col-sm-4 control-label">{{'LABEL_TARGET_CONTAINER' | translate:translationData}}</label>
                  <div class="col-sm-8">
                    <span ng-hide="editFlg">{{client.containerCode}}</span>
                    <select class="form-control" ng-model="client.containerCode" ng-options="code as name for (code, name) in classificationMap.targetContainerMap" ng-show="oRMapperOptionsFlg"></select>
                  </div>
                </div>
                <div class="form-group" ng-show="oRMapperOptionsFlg">
                  <label class="col-sm-4 control-label">{{'LABEL_PACKAGE_BASE' | translate:translationData}}</label>
                  <div class="col-sm-8">
                    <span ng-hide="editFlg">{{client.packageBase}}</span>
                    <input type="text" class="form-control" ng-model="client.packageBase" ng-show="oRMapperOptionsFlg"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_JDBC_DRIVER' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.jdbcDriverFqcn}}</span>
                  <input type="text" class="form-control" ng-model="client.jdbcDriverFqcn" ng-show="editFlg" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_URL' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.mainSchemaSettings.url}}</span>
                  <input type="text" class="form-control" ng-model="client.mainSchemaSettings.url" ng-show="editFlg" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_SCHEMA' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.mainSchemaSettings.schema}}</span>
                  <input type="text" class="form-control" ng-model="client.mainSchemaSettings.schema" ng-show="editFlg" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_USER' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.mainSchemaSettings.user}}</span>
                  <input type="text" class="form-control" ng-model="client.mainSchemaSettings.user" ng-show="editFlg" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_PASSWORD' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.mainSchemaSettings.password}}</span>
                  <input type="password" class="form-control" ng-model="client.mainSchemaSettings.password" ng-show="editFlg" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_JDBC_DRIVER_JAR_PATH' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.jdbcDriverJarPath}}</span>
                  <input type="text" class="form-control" ng-model="client.jdbcDriverJarPath" ng-show="editFlg" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">{{'LABEL_DBFLUTE_VERSION' | translate:translationData}}</label>
                <div class="col-sm-8">
                  <span ng-hide="editFlg">{{client.dbfluteVersion}}</span>
                  <select class="form-control" ng-model="client.dbfluteVersion" ng-options="version for version in versions" ng-show="editFlg"></select>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <div class="col-sm-3" >
      <div class="row">
        <div class="col-sm-12">
          <input type="button" class="btn btn-primary" value="Create" ng-click="create(client, option.testConnection)" ng-show="editFlg && client.create" />
          <input type="button" class="btn btn-primary" value="Cancel" ng-click="cancelEdit()" ng-show="editFlg" />
        </div>
        <div class="col-sm-12" ng-show="editFlg">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="btn btn-primary" ng-model="option.testConnection" />Connect as test
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      System Info
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in manifest">
      {{key}} = {{value}}
    </div>
  </div>
</div>
