<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div>
        <h2>DBFlute Client</h2>
        <input type="button" class="btn btn-primary" value="Create" ng-click="goToClientCreate()" />
      </div>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>{{'LABEL_projectName' | translate:translationData}}</th>
              <th>{{'LABEL_databaseCode' | translate:translationData}}</th>
              <th>{{'LABEL_languageCode' | translate:translationData}}</th>
              <th>{{'LABEL_containerCode' | translate:translationData}}</th>
            </tr>
          </thead>
          <tbody class="list-group">
            <tr ng-repeat="client in clientList">
              <td><a href="" class="list-group-item" ng-click="goToClient(client)">{{client.projectName}}</a></td>
              <td>{{client.databaseCode}}</td>
              <td>{{client.languageCode}}</td>
              <td>{{client.containerCode}}</td>
              <td><input type="button" class="btn btn-primary" value="Settings" ng-click="goToSettings(client)" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>DBFlute Engine</h2>
        <button type="button" class="btn btn-primary" ng-click="downloadModal()">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Download
        </button>
      </div>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>{{'LABEL_engineVersion' | translate:translationData}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="list-group">
            <tr ng-repeat="version in versions">
              <td><span class="list-group-item">{{version}}</span></td>
              <td><input type="button" class="btn btn-primary pull-right" value="Remove" ng-click="removeEngine(version)" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h3>System Info</h3>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in manifest">
      {{key}} = {{value}}
    </div>
  </div>
</div>
