<alter-check-fix-form>
  <!-- 既存のAlterDDLを開くフォーム (written at 2022/03/13)-->
  <h4>Fix existing Alter SQL</h4>
  <form class="ui form">
    <div class="fields">
      <div class="field">
        <button class="ui button" onclick="{ prepareAlterCheck }" type="button">Fix</button>
      </div>
    </div>
  </form>

  <script>
    import AlterCheckFixForm from './alter-check-fix-form'
    export default AlterCheckFixForm
  </script>
</alter-check-fix-form>
