##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($rule = $scriptEngine.get('remoteApiRule'))
#if (!$data.properties.isEmpty() || !$data.definitionRemoteApiBean.properties.isEmpty())
<table>
    <thead>
    <tr>
        <th class="rownumhead">No.</th>
        <th>name</th>
        <th>type</th>
    </tr>
    </thead>
#foreach($propertyEntry in $data.properties.entrySet())
    <tr>
        <td class="rowcellnum" rowspan="$rowspan">${foreach.count}</td>
        <td>${scriptEngine.invokeMethod($rule, 'fieldName', $data.api, $data, $propertyEntry.key)}</td>
        <td>TODO</td>
    </tr>
#end
#foreach($propertyEntry in $data.definitionRemoteApiBean.properties.entrySet())
    <tr>
        <td class="rowcellnum" rowspan="$rowspan">${foreach.count}</td>
        <td>${scriptEngine.invokeMethod($rule, 'fieldName', $data.api, $data, $propertyEntry.key)}</td>
        <td>TODO</td>
    </tr>
#end
</table>
#end
