<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<!-- _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_ -->
<!-- Maihama logging logger settings for All Environments -->
<!-- _/_/_/_/_/_/_/_/_/_/_ -->
<included>
  <logger name="org.dbflute" additivity="false" level="${log.level}">
    <appender-ref ref="console"/><appender-ref ref="appfile"/><appender-ref ref="errorfile"/>
  </logger>
  <logger name="org.lastaflute" additivity="false" level="${log.level}">
    <appender-ref ref="console"/><appender-ref ref="appfile"/><appender-ref ref="errorfile"/>
  </logger>
  <logger name="org.dbflute.intro" additivity="false" level="${log.level}">
    <appender-ref ref="console"/><appender-ref ref="appfile"/><appender-ref ref="errorfile"/>
  </logger>
  <logger name="mailflute.sending" additivity="false" level="${log.level}">
    <appender-ref ref="mailfile"/>
  </logger>
  <root level="error">
    <appender-ref ref="console"/><appender-ref ref="errorfile"/>
  </root>
</included>
