<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <!-- ================================================================================= -->
    <!--                                                                    Servlet Filter -->
    <!--                                                                    ============== -->
    <filter>
        <filter-name>lastaFilter</filter-name>
        <filter-class>org.lastaflute.web.LastaFilter</filter-class>
    </filter>

    <!-- ================================================================================= -->
    <!--                                                                    Filter Mapping -->
    <!--                                                                    ============== -->
    <filter-mapping>
        <filter-name>lastaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ================================================================================= -->
    <!--                                                                           Servlet -->
    <!--                                                                           ======= -->

    <!-- ================================================================================= -->
    <!--                                                                   Servlet Mapping -->
    <!--                                                                   =============== -->

    <!-- ================================================================================= -->
    <!--                                                                    Session Config -->
    <!--                                                                    ============== -->
    <session-config>
        <session-timeout>120</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <!-- ================================================================================= -->
    <!--                                                                      Welcome File -->
    <!--                                                                      ============ -->

    <!-- ================================================================================= -->
    <!--                                                                        JSP Config -->
    <!--                                                                        ========== -->

    <!-- ================================================================================= -->
    <!--                                                                        Error Page -->
    <!--                                                                        ========== -->
</web-app>
