<loading>
  <div class="ui page dimmer inverted {classNames({active: state.isActive})}">
    <div class="ui huge text loader">Loading</div>
  </div>

  <style>
    .ui.dimmer {
      z-index: 20000
    }
  </style>

  <script>
    import { initLoading } from './Loading'

    export default {
      state: {
        isActive: false
      },
      onMounted() {
        initLoading((isLoading) => {
          this.update({ isActive: isLoading })
        })
      }
    }
  </script>
</loading>
